_nrf52840_xxaa
_build
**/RTE
.vscode
*.bak
*.uvguix*
*.uvoptx
*.TMP
*.code-workspace
~$*.xlsx
project_debug_config.h
resource/**/version
examples/ble_peripheral/cenon_freertos_ble_app_uart/laisi/core/console_gui_position.h
examples/ble_peripheral/cenon_freertos_ble_app_uart/laisi/sport/sport_gui.h
JLinkLog.txt
JLinkSettings.ini
EventRecorderStub.scvd
script_dfu/*/*.hex
script_dfu/*/*.zip
script_dfu/*/*.map
script_dfu/*/*.axf
resource/*/version
./components
./documentation
./external
./external_tools
./integration
./modules
./config
./nRF5_SDK_17.0.2_d674dde.zip